
 @font-face { font-family: Zuume; src: url('ipx by roughit s\font\Zuume-SemiBold.ttf'); } 

header{
    background-color: #F61354;
}
body {
    background-color: black;
}

hr{
  opacity: 0.2;
  border: 1px solid #FFFFFF;
}

.p1 {
    font-family: 'Zuume';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    color: #FFFFFF;
}

.p2 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  color: rgb(172, 172, 172);
  opacity: 0.7;
}

.p3 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: white;
    opacity: 0.7;
}

.p4{
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  /* opacity: 0.7; */
}

.p5{
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11.0857px;
  color: white;
  opacity: 0.7;
}

.p6{
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11.0857px;
  color: white;
}

.p7 {
  font-size: 25px;
  color: white;
  opacity: 0.5;
}

.box {
    /* width: 100px;
    height: 100px; */
    
    border: 1px solid #535252;
    

}

.f1 {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  }

.f2 {
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    }



.btn {
    background: radial-gradient(86.07% 145.35% at 28.05% 86.07%, #3E67FF 0%, #E47298 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 10px;
    border: none;
    color: white;
    /* width: 174px;
    height: 56px; */
    margin-top: 5px;
}

.btn2 {
  background:  black;
  border-color: radial-gradient(86.07% 145.35% at 28.05% 86.07%, #3E67FF 0%, #E47298 100%);
  border-radius: 10px;
  /* border: none; */
  color: white;
  /* width: 174px;
  height: 56px; */
  margin-top: 5px;
}

.btn3 {
  background: radial-gradient(86.07% 145.35% at 28.05% 86.07%, #3E67FF 0%, #E47298 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-radius: 75.4456px;
  border: none;
  color: white;
  /* width: 79.68px;
  height: 29.79px; */
  margin-top: 5px;
}

.btn4 {
  background: black;
  border-radius: 75.4456px;
  border-color: white;
  color: white;
  /* width: 79.68px;
  height: 29.79px; */
  margin-top: 5px;
}

/* accordian */
.accordion {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: black;
    border: none;
  }
  
  .accordion:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
/* accordian-end */

.profile {
  width: 40px;
  height: 40px;
  border-radius: 25px;
}

.scroll {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
}
.row{
  /* align-items: stretch; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  
}
.card {
  background-color: black;
  max-width: 286.92px;
  max-height: 330.25px;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  /* align-items: center;
  flex-basis: 33.333%;
  flex-grow: 0;
  flex-shrink: 0; */
}

.card > img {
  margin-bottom: .75rem;
  max-width: 257.74px;
  max-height: 175.29px;
  border-radius: 11.0857px;
}


.row::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.row {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
  
